doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/util.js')
    script(src='javascripts/jquery-1.10.2.js')

  body
    
    block content

